/*

# unignore files
!.gitattributes
!.gitignore
!.python-version
!CONTRIBUTORS.md
!DEVELOPERS.md
!Dockerfile.cpu
!Dockerfile.gpu
!domains.txt
!download_model.py
!LICENSE
!model_card.md
!pyproject.toml
!README.md
!uv.lock

# unignore folders
!src/
